#canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}


.title {
    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    padding: 20px 0;
}

.color-palette{ 
    display: flex;
    justify-content: center;
}

.cell {
    width: 1em;
    height: 1em;
    display: inline-block;
    border: solid 1px gray;
    margin-top: -4px;
}

.brush {
    height: 2em;
    width: 2em;
    display: flex; 
    border-radius: 100%; 
    border: 1px solid black;    
}

.eraserTool {
    height: 2em;
    width: 2em;
    border-radius: 100%;
    border: 1px solid black;
}




